.image-container {
  position: relative;
  max-width: 600px; /* Adjust as needed */
}

.fading-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out; /* Adjust the transition duration as needed */
}

.legend-image {
  position: absolute;
  bottom: 10px; /* Adjust as needed */
  right: 10px; /* Adjust as needed */
  width: 150px; /* Adjust as needed */
  z-index: 1; /* Ensure legend appears above other images */
}
