@media (min-width: 80em) {
    .home .sidebar {
        padding-top: 200px; /* adjust this value until the sidebar clears your banner */
    }
}
.page__hero-image {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 200px; /* adjust as needed */
}
